/*==================================== MEDIA ===============================================*/
/*==================================== MEDIA ===============================================*/


//------------------------------- 1200 --------------------------------//


@media (max-width: 1200px) {

	.container {
		padding: 0 20px;
	}

	.heading {
		&__title {
			font-size: 48px;
			/*------------------------------  ------------------------------*/


		}
	}

	.main-heading {
		font-size: 50px;
	}

	.header {
		&__body-image img {
			max-width: 500px;
		}

		&__body-heading {
			max-width: 440px;
		}
	}

	.table {
		transform: scale(85%);
	}

	.table__top {
		top: 52px;
		left: -50px;
	}

	.table__bottom {
		top: 370px;
		right: -33px;
	}

	.offers {
		padding-top: 60px;
	}
}

//------------------------------- 1050 --------------------------------//
@media (max-width: 1050px) {
	.process {
		padding: 70px 0;

		&__inner {
			flex-direction: column;
			align-items: center;
		}

		&__content {
			margin-bottom: 60px;
		}

		&__info-column {
			margin-left: 85px;
		}
	}
}

//------------------------------- 1000 --------------------------------//

@media (max-width: 1000px) {

	.main-heading {
		font-size: 40px;
		/*------------------------------  ------------------------------*/


	}

	.header {
		&__body-image img {
			max-width: 400px;
		}
	}

	.table {
		transform: scale(70%);

		&__top {
			top: 30px;
			left: -63px;
		}

		&__bottom {
			top: 260px;
			left: 120px;
		}
	}



	.contact {
		.container {
			padding: 0;
		}

		&__content {
			max-width: 100vw;
		}

		&__row {
			padding: 30px;
		}

		&__heading-title {
			margin: 0 59px 40px;
		}

		&__row-item:last-child {
			margin-right: 0px;
		}
	}

	.brands {
		&__grid {
			grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
			row-gap: 10px;
		}
	}

	.heading {
		/*------------------------------  ------------------------------*/

		&__title {
			font-size: 28px;
		}
	}

	.blog {
		padding: 40px 0;
		margin-bottom: 0;

		&__grid {
			grid-template: 1fr auto / repeat(2, 1fr);
		}

		&__grid-item {
			max-width: 100%;
		}

		&__filter-button {
			font-size: 24px;
		}

		&__heading {
			margin-bottom: 24px;
		}
	}

	.getintouch {
		padding: 40px 0;

		&__body {
			flex-direction: column;
			max-width: 630px;
			margin: 0 auto;
		}

		&__form {
			margin-right: 0;
			margin-bottom: 70px;
		}

		&__info {
			text-align: center;
			align-self: center;
		}

		&__heading {
			max-width: 500px;
			margin: 0 auto 36px;
			text-align: center;
		}
	}

	.footer {
		&__top {
			padding: 40px 0;
		}
	}
}


//-------------------------------- 960 -----------------------------------//

@media (max-width: 960px) {
	.footer {
		&__top-inner {
			flex-direction: column;
		}

		&__top-heading {
			margin-bottom: 20px;
		}

		&__top-body {
			margin-bottom: 40px;
		}
	}
}

//------------------------------- 900 --------------------------------//


@media (max-width: 900px) {

	.main-heading {
		line-height: 180%;
	}

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 50;
		background: rgba(0, 0, 0, 0.350);
		visibility: hidden;
		opacity: 0;
		transition: all .3s;
	}

	.overlay--show {
		visibility: visible;
		opacity: 1;
	}

	.burger {
		cursor: pointer;
		display: flex;
		position: fixed;
		top: 15px;
		right: 15px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		justify-content: center;
		align-items: center;
		z-index: 150;
		transition: all .3s;
		background: #fff;
		box-shadow: 0px 0px 16px 1px #000;


		&__inner {
			display: flex;
			flex-direction: column;
			height: 40px;
			justify-content: space-evenly;
			transition: all .3s;
		}

		&--follow {
			box-shadow: 0 0px 10px 1px #6d839b;
			background: #fff;
		}

		&__line {
			width: 40px;
			height: 4px;
			background: #000;
			border-radius: 4px;
			transition: all .3s;
		}

		&--open {
			.burger__inner {
				transform: rotate(45deg);

			}

			.burger__line {

				&:last-child,
				&:first-child {
					position: absolute;
					transform: rotate(90deg);
				}
			}
		}
	}

	.header {
		&__body-inner {
			padding-top: 40px;
		}

		&__top {
			position: fixed;
			top: 0;
			bottom: 0;
			right: 0;
			background: #fff;
			z-index: 101;
			min-width: 320px;
			transform: translateX(100%);
			transition: all .3s;
			height: 100%;
		}

		&__top-logo {
			flex: none;
		}

		&__top-nav {
			margin: 0;
			padding: 0;
		}

		&__top-item {
			margin-right: 0;
			margin-bottom: 10px;
		}

		&__top-nav::after {
			display: none;
		}

		&__top--open {
			transform: translateX(0%);
		}

		.header__top-inner {
			flex-direction: column;
			height: 100%;
			padding: 100px 0;
			align-items: center;
		}

		&__top-list {
			flex-direction: column;
		}

		&__body-heading {
			max-width: 400px;
		}
	}



	.heading__title {
		font-size: 40px;
	}

	.customers {
		&__slide {
			padding: 40px;
		}

		&__heading-title {
			max-width: 540px;
		}
	}

	.footer {
		&__bottom-nav {
			display: none;
		}

		&__bottom-inner {
			justify-content: space-evenly;
		}
	}
}


//--------------------------------  830 -----------------------------------//

@media (max-width: 830px) {

	.header {
		&__body {
			padding: 40px 0;
			margin-bottom: 40px;
		}

		&__body-inner {
			flex-direction: column;
			align-items: center;
			min-width: auto;
		}

		&__body-content {
			margin-bottom: 30px;
			max-width: 372px;
			margin-right: 0;
		}

		&__body-title {
			margin-right: 0;
		}
	}

	.table {

		&__top {
			top: 40px;
			left: -71px;
		}

		&__bottom {
			top: 270px;
			left: 164px;
		}
	}

	.offers {
		&__cervices-inner {
			grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
			max-width: 600px;
			margin: 0 auto;
		}

		&__cervices-item {
			max-width: 380px;
		}
	}

	.brands {
		&__grid {
			grid-template: repeat(4, 1fr) / repeat(3, 1fr);
		}

		&__item {
			height: 100px;
		}
	}

	.blog {
		&__grid-title {
			font-size: 24px;
			line-height: 1.2;
		}
	}

}




//--------------------------------  855 -----------------------------------//

@media (max-width: 855px) {
	.contact {
		&__row {
			flex-wrap: wrap;
		}

		&__row-item {
			width: 50%;
			margin-right: 0;
			align-items: center;
			margin-bottom: 20px;
		}

		&__row-text {
			font-size: 20px;
		}
	}

	.brands {
		padding: 40px 0;
	}

	.questions {
		padding: 40px 0;

		&__heading {
			margin-bottom: 34px;
		}
	}
}

//-------------------------------- 730 -----------------------------------//

@media (max-width: 730px) {
	.questions {
		&__acc-button-box {
			display: none;
		}

		&__acc-item {
			padding: 20px;
			margin-right: 0;
		}

		&__acc-title {
			margin-bottom: 0;
		}

		&__acc-info {
			margin-right: 0;
		}
	}
}

//-------------------------------- 700 -----------------------------------//

@media (max-width: 700px) {
	.customers {
		&__text {
			font-size: 20px;
		}
		&__slider-arrows {
			display: none;
		}
	}
}

//-------------------------------- 480 -----------------------------------//

@media (max-width: 480px) {

	.main-heading {
		font-size: 30px;
	}

	.header {
		&__top {
			width: 100%;
		}

		&__body-image img {
			max-width: 300px;
		}

		&__body-button-box {
			justify-content: space-between;
		}

		&__body-book {
			margin-right: 0;
		}
	}

	.table {
		transform: scale(66%);

		&__top {
			top: 16px;
			left: -80px;
		}

		&__bottom {
			top: 182px;
			left: 71px;
		}
	}

	.heading {
		&__title {
			font-size: 30px;
			line-height: 50px;
		}

		&__subtitle {
			font-size: 20px;
		}
	}

	.offers {
		&__cervices-inner {
			grid-template: repeat(8, 1fr) / 1fr;
			max-width: 380px;
			margin: 0 auto;
		}
	}

	.process {
		&__info-title {
			font-size: 24px;
		}
	}

	.contact {
		&__row {
			flex-direction: column;
		}

		&__row-item {
			width: auto;
			text-align: center;
		}
	}

	.blog {
		&__filter-button {
			font-size: 20px;
		}
	}
}

//-------------------------------- 630 -----------------------------------//

@media (max-width: 630px) {
	.brands {
		&__grid {
			grid-template: repeat(5, 1fr) / repeat(2, 1fr);
		}
	}
}

//-------------------------------- 530 -----------------------------------//

@media (max-width: 530px) {
	.blog {
		&__grid {
			grid-template: 1fr auto / 1fr;
		}
	}
}

//-------------------------------- 420 -----------------------------------//

@media (max-width: 420px) {
	.brands {
		&__grid {
			grid-template: repeat(6, 1fr) / repeat(1, 1fr);
		}

		&__item {
			height: 70px;
		}
	}

	.customers {
		&__text{
			font-size: 18px;
		}
	}

	.footer {
		&__bottom-inner {
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
		}

		&__bottom-logo {
			margin-bottom: 40px;
		}
	}
}

//-------------------------------- 400 -----------------------------------//

@media (max-width: 400px) {

	.button {
		padding: 10px 20px;
		text-align: center;
	}

	.header {
		&__body-image img {
			max-width: 250px;
		}

	}

	.table {
		transform: scale(50%);

		&__top {
			top: 0px;
			left: -96px;
		}

		&__bottom {
			top: 145px;
			left: 40px;
		}
	}

	.getintouch {
		&__form-button {
			align-self: center;
			margin-bottom: 40px;
		}
	}
}

//--------------------------------  370 -----------------------------------//

@media (max-width: 370px) {
	.process {
		&__info-title {
			font-size: 20px;
		}

		&__info-item {
			max-width: 240px;
		}

		&__info-item--appointment::after,
		&__info-item--quote::after {
			height: 114px;
		}
	}
}

//--------------------------------  330 -----------------------------------//

@media (max-width: 330px) {
	.process {
		&__info-item {
			max-width: 202px;
			min-width: 197px;
		}

		&__info-item--service::before {
			top: -4px;
		}

		&__info-title {
			line-height: 34px;
		}

		&__info-item--appointment::after,
		.process__info-item--quote::after {
			height: 98px;
		}

		&__info-item--appointment::before,
		&__info-item--quote::before {
			top: -16px;
		}
	}
}

//--------------------------------  320 -----------------------------------//

@media (max-width: 320px) {
	.header {
		&__body-button-box {
			flex-direction: column;
		}

		&__body-book {
			margin-bottom: 20px;
		}
	}

	.table {
		&__top {
			left: -75px;
		}

		&__bottom {
			left: 29px;
		}
	}

	.blog {
		&__filter-box {
			display: block;
		}
	}
}



//--------------------------------  310 -----------------------------------//

@media (max-width: 310px) {

	.process {
		&__info-item {
			max-width: auto;
			min-width: auto;
		}

		&__info-item--appointment::after,
		&__info-item--quote::after {
			height: 144px;
			top: 72px;
		}

	}

}

//--------------------------------  300 -----------------------------------//

@media (max-width: 300px) {

	.offers {
		&__link {
			margin-right: 5px;
		}
	}

}