@import "Reset_Styles.scss";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap');


html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Manrope', sans-serif;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 30px;
}

.heading {
	font-weight: 800;
	font-size: 64px;
	line-height: 84px;
	letter-spacing: -0.03em;
	color: #1E1B1B;
}

.button {
	display: block;
	font-weight: 600;
	font-size: 18px;
	line-height: 175%;
	color: #FFFFFF;
	padding: 16px 40px;
	background-color: #FF6433;
	border-radius: 12px;
	transition: all .3s;
}

.button:hover {
	transform: scale(1.1);
}

.burger {
	display: none;
}

/*=================================== HEADER ==========================================*/

.header {

	&__top {
		margin-bottom: 80px;
	}

	&__top-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 90px;
	}

	&__top-logo {
		// margin-right: 475px;
		flex: 1 1 auto;
	}

	&__top-nav {
		position: relative;
		padding: 0 20px;
		margin-right: 20px;
	}

	&__top-nav::after {
		content: "";
		display: block;
		height: 42px;
		width: 1px;
		background: #939191;
		position: absolute;
		top: -7px;
		right: 0;

	}

	&__top-list {
		display: flex;
	}

	&__top-item {
		margin-right: 40px;
	}

	&__top-item:last-child {
		margin-right: 32px;
	}

	&__top-link {
		font-weight: 600;
		font-size: 16px;
		line-height: 28px;
		color: #1E1B1B;
		transition: all .3s;
	}


	&__top-link:hover {
		color: #FF6433;
	}

	&__top-contact {
		padding-left: 20px;
	}


	&__contact-inner {
		display: flex;
	}

	&__top-button {
		margin-right: 14px;
		transition: all .3s;
	}

	&__top-button:hover {
		transform: scale(1.1);
	}


	&__contact-title {
		margin-bottom: 10px;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: #1E1B1B;
		opacity: 0.7;
	}
}

.header {

	&__body {
		margin-bottom: 135px;
	}

	&__body-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__body-content {
		max-width: 624px;
		margin-right: 20px;
	}

	&__body-title {
		font-weight: 800;
		font-size: 64px;
		line-height: 84px;
		letter-spacing: -0.03em;
		color: #1E1B1B;
		margin-bottom: 32px;
		margin-right: 15px;
	}

	&__body-button-box {
		display: flex;
		align-items: center;
		// justify-content: space-between;
		margin-bottom: 48px;
	}

	&__body-book {
		margin-right: 33px;
	}


	&__body-video {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		text-align: right;
		color: #1E1B1B;
		transition: all .3s;
	}

	&__body-video:hover {
		transform: scale(1.1);
	}

	&__body-video-btn {
		width: 24px;
		height: 24px;
		margin-right: 8px;
	}

	&__body-hours-inner {
		// height: 55px;
		display: flex;
		align-items: center;
	}

	&__body-hours-icon {
		margin-right: 12.5px;
	}

	&__body-hours-info {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__body-hours-title {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: #939191;
	}

	&__body-hours-hours {
		font-weight: 600;
		font-size: 18px;
		line-height: 175%;
		color: #1E1B1B;
	}

	&__body-side {
		position: relative;
	}

	&__body-image img {
		overflow: cover;
	}

}

.table {
	display: flex;
	align-items: center;
	background: #fff;
	position: absolute;
	border-radius: 59px;
	outline: 12px solid rgba(225, 225, 225, 0.43);
	box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);

	&__top {
		width: 280px;
		position: absolute;
		top: 81px;
		left: -28px;
	}

	&__top-icon {
		width: 70px;
		height: 70px;
		margin: 15px 0 17px 14px;
	}

	&__top-info {
		font-weight: 600;
		font-size: 24px;
		line-height: 36px;
		letter-spacing: -0.03em;
		color: #1E1B1B;
		padding: 31px 35px 35px 14px;
	}

	&__bottom-info {
		padding: 26px 15px 26px 38px;
		text-align: center;
	}

	&__bottom-title {
		font-weight: 600;
		font-size: 24px;
		line-height: 30px;
		letter-spacing: -0.03em;
		color: #000000;
	}

	&__bottom-subtitle {
		font-weight: 500;
		font-size: 16px;
		line-height: 18px;
		color: #000000;
		opacity: 0.7;
	}

	&__bottom {
		width: 300px;
		position: absolute;
		top: 460px;
		right: -22px;

	}

	&__bottom-icons {
		display: block;
		margin-right: 32px;
	}
}

/*================================= OFFERS ========================================*/

.offers {
	background: #F2F2F2;
	padding-bottom: 128px;

	&__heading {
		padding-top: 120px;
		margin-bottom: 64px;
	}

	&__subtitle {
		font-weight: 600;
		font-size: 24px;
		line-height: 36px;
		text-align: center;
		letter-spacing: -0.03em;
		color: #1E1B1B;
		margin-bottom: 8px;
	}

	&__title {
		max-width: 858px;
		font-weight: 800;
		font-size: 58px;
		line-height: 76px;
		text-align: center;
		letter-spacing: -0.03em;
		color: #1E1B1B;
		margin: 0 auto;
	}

	&__cervices {
		margin-bottom: 32px;
	}

	&__cervices-inner {
		display: grid;
		grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
		gap: 8px;
	}

	&__cervices-item {
		max-width: 316px;
		// max-height: 232px;

	}

	&__cervices-link {
		background: #fff;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		transition: all .3s;
		color: #1E1B1B;
		padding: 21.3% 0;
	}

	&__cervices-link:hover {
		background: #FF6433;
		color: #fff;
	}


	&__cervices-link svg path {
		transition: all .3s;
	}

	&__cervices-link:hover svg path {
		fill: #fff;
	}

	&__cervises-img {
		display: block;
	}

	&__cervices-name {
		font-weight: 600;
		font-size: 24px;
		line-height: 36px;
		text-align: center;
		letter-spacing: -0.03em;
		margin-top: 14px;
	}

	&__learn-about-all {
		display: flex;
		justify-content: end;
	}

	&__buttons {
		display: flex;
		align-items: center;
		width: 242px;
	}

	&__link {
		font-weight: 600;
		font-size: 18px;
		line-height: 175%;
		color: #1E1B1B;
		transition: all .3s;
		margin-right: 10px;
	}

	&__learn-about-all:hover &__link {
		color: #FF6433;
	}

	&__arrow {
		position: relative;
		top: 2px;
		left: 0;
	}

	&__arrow svg path {
		transition: all .3s;
	}

	&__learn-about-all:hover &__arrow svg path {
		fill: #FF6433;
	}
}

/*==================================== PROCESS ==========================================*/

.process {
	padding: 134px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		max-width: 524px;
	}

	&__title {
		font-weight: 800;
		font-size: 58px;
		line-height: 76px;
		letter-spacing: -0.03em;
		color: #1E1B1B;
		margin-bottom: 16px;
	}

	&__subtitle {
		font-weight: 600;
		font-size: 16px;
		line-height: 28px;
		color: #1E1B1B;
		opacity: 0.6;
		margin-bottom: 32px;
		letter-spacing: -0.03em;
	}

	&__button {
		width: 177px;
	}

	&__info-item {
		max-width: 334px;
		position: relative;
		margin-bottom: 25px;
	}

	&__info-item::before {
		content: "";
		font-weight: 900;
		text-align: center;
		font-size: 30px;
		line-height: 72px;
		color: #fff;
		display: block;
		background: url('/img/section/circle.svg');
		width: 72px;
		height: 72px;
		position: absolute;
		top: -11px;
		left: -90px;
	}

	&__info-item--quote::after,
	&__info-item--appointment::after {
		content: "";
		display: block;
		height: 71px;
		width: 1px;
		border-left: 2px dashed #FF6433;
		position: absolute;
		top: 72px;
		left: -55px;
	}

	&__info-item--quote::before {
		content: "01";
	}

	&__info-title {
		font-weight: 700;
		font-size: 32px;
		line-height: 48px;
		letter-spacing: -0.03em;
		color: #1E1B1B;
		margin-bottom: 8px;
	}

	&__info-text {
		font-weight: 600;
		font-size: 18px;
		line-height: 175%;
		color: #1E1B1B;
		opacity: 0.6;
	}


	&__info-item--appointment::before {
		content: "02";
	}

	&__info-item--service::before {
		content: "03";
	}
}

/*=================================== CONTACT =========================================*/

.contact {

	background: url('/img/contact/image-2.jpg') no-repeat 100% 0 / auto 501.5px, url('/img/contact/image-1.jpg') no-repeat 0% 0px / auto 501.5px;
	;

	&__content {
		background: #FF6433;
		max-width: 729px;
		min-height: 502px;
		padding: 128px 0 122px;
	}

	&__title {
		max-width: 569px;
		font-weight: 700;
		font-size: 48px;
		line-height: 140%;
		letter-spacing: -0.03em;
		color: #FFFFFF;
		margin: 0 80px 48px;
	}

	&__button {
		background: #000;
		width: 177px;
		margin-left: 59px;
	}

	&__row {
		// height: 210px;
		padding: 48px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&__row-item {
		display: flex;
		flex-direction: column;
		align-items: start;
		margin-right: 30px;
	}

	&__row-item:last-child {
		margin-right: 0px;
	}

	&__row-number {
		font-weight: 800;
		font-size: 58px;
		line-height: 76px;
		text-align: center;
		letter-spacing: -0.03em;
		color: #661CE7;
	}

	&__row-text {
		font-weight: 600;
		font-size: 24px;
		line-height: 36px;
		letter-spacing: -0.03em;
		color: #1E1B1B;
		opacity: 0.7;
	}
}

/*=================================== BRANDS ===========================================*/

.brands {
	padding: 128px 0 132px;
	background: #E2E6E9;

	&__title {
		font-weight: 800;
		font-size: 58px;
		line-height: 76px;
		text-align: center;
		letter-spacing: -0.03em;
		color: #1E1B1B;
		margin-bottom: 31px;
	}



	&__grid {
		display: grid;
		grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
		row-gap: 38px;
		column-gap: 38px;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 127px;
	}

	&__item-link svg path {
		transition: all .3s;
	}

	&__item-link:hover svg path {
		fill: #FF6433;
	}
}

/*===================================== BLOG =============================================*/

.blog {
	padding-top: 131px;
	margin-bottom: 136px;

	&__heading {
		margin-bottom: 47px;
	}

	&__title {
		font-weight: 800;
		font-size: 58px;
		line-height: 76px;
		letter-spacing: -0.03em;
		color: #1E1B1B;
	}

	&__filter-box {
		margin-bottom: 46px;
		display: flex;
	}

	&__filter-button {
		background: transparent;
		font-weight: 700;
		font-size: 32px;
		line-height: 48px;
		letter-spacing: -0.03em;
		color: #1E1B1B;
		margin-right: 30px;
	}

	&__row-item:last-child {
		margin-right: 0px;
	}

	&__grid {
		display: grid;
		grid-template: 1fr 1fr / 1fr 1fr 1fr;
		gap: 64px 32px;
	}

	&__grid-item {
		max-width: 405px;
	}

	&__grid-link {
		display: flex;
		flex-direction: column;
		transition: all .3s;
		flex: 0 1 33.333%;
	}

	&__grid-link:hover {
		box-shadow: 0px 0px 22px 0px #b1b1b1;
	}

	&__grid-image {
		margin-bottom: 24px;
	}

	&__grid-image img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	&__grid-date {
		font-weight: 600;
		font-size: 16px;
		line-height: 28px;
		color: #939191;
		margin-bottom: 16px;
	}

	&__grid-title {
		font-weight: 700;
		font-size: 32px;
		line-height: 48px;
		letter-spacing: -0.03em;
		color: #1E1B1B;
		margin-bottom: 16px;
	}

	&__grid-text {
		font-weight: 600;
		font-size: 16px;
		line-height: 28px;
		color: #232536;
	}

	&__grid-info {
		padding: 8px;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
}

/*================================== CUSTOMERS =====================================*/

.customers {
	background: #F2F2F2;
	padding-bottom: 128px;

	&__inner {
		position: relative;
	}

	&__heading {
		padding-top: 130px;
		margin-bottom: 74px;
	}

	&__title {
		margin: 0 auto;
		max-width: 785px;
		font-weight: 800;
		font-size: 58px;
		line-height: 76px;
		text-align: center;
		letter-spacing: -0.03em;
		color: #1E1B1B;
	}

	&__slider {
		margin: 0 -24px;
		position: relative;
	}

	&__slide-inner {
		padding: 24px;
	}

	&__slide {
		background: #fff;
		padding: 73px 72px 72px 72px;
	}

	&__customer {
		display: flex;
	}

	&__photo {
		margin-right: 16px;
	}

	&__photo img {
		display: block;
		border-radius: 50%;
	}

	&__info {
		margin-bottom: 24px;
	}

	&__name {
		font-weight: 600;
		font-size: 24px;
		line-height: 36px;
		letter-spacing: -0.03em;
		color: #1E1B1B;
	}

	&__city {
		font-weight: 600;
		font-size: 16px;
		line-height: 28px;
		color: #939191;
	}

	&__text {
		font-weight: 600;
		font-size: 24px;
		line-height: 36px;
		letter-spacing: -0.03em;
		color: #1E1B1B;
	}


	&__dots .slick-dots {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__dots li {
		margin-right: 12px;
	}

	&__dots li:last-child {
		margin-right: 0;
	}

	&__dots button {
		font-size: 0;
		background-color: transparent;
		width: 32px;
		height: 30px;
		display: flex;
		align-items: center;
	}

	&__dots button::before {
		content: "";
		height: 4px;
		width: 100%;
		background-color: #B3B7BC;
		border-radius: 0px;
	}

	&__dots .slick-active button::before {
		background-color: #FF6433;
		transition: all .3s;
	}

	&__slider-inner {
		position: relative;
	}

	//arrows
	&__slider-arrows {
		width: 134px;
		display: flex;
		justify-content: space-between;
		position: absolute;
		// top: 465px;
		right: 32px;
		bottom: -24px;
	}

	&__slider-arrow {
		border-radius: 50%;
		display: block;
		line-height: 0;
		position: relative;
		z-index: 5;
	}

	&__slider-arrow::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0.7);
		width: 62px;
		height: 62px;
		background-color: #fff;
		border-radius: 50%;
		z-index: -1;
		transition: all .3s;
	}

	&__slider-arrow:hover::before {
		transform: translate(-50%, -50%) scale(1);
		background-color: #000;
	}

	&__slider-arrow:hover path {
		fill: #fff;
	}

	&__slider-arrow path {
		transition: all .3s;
	}
}

/*================================== QUESTIONS ==========================================*/

.questions {
	padding: 128px 0;
	background: #E2E6E9;

	&__heading {
		margin-bottom: 85px;
	}

	&__title {
		font-weight: 800;
		font-size: 58px;
		line-height: 76px;
		text-align: center;
		letter-spacing: -0.03em;
		color: #1E1B1B;
	}

	&__acc {
		padding: 10px;
		max-width: 896px;
		margin: 0 auto;
	}

	&__acc-item {
		background: #fff;
		padding: 40px 63px 38px 40px;
		margin-bottom: 12px;
		display: flex;
		justify-content: space-between;
		transition: all .3s;
	}

	&__acc-info {
		margin-right: 64px;
		cursor: pointer;
	}

	&__acc-item:last-child {
		margin-bottom: 0px;
	}

	&__acc-title {
		font-weight: 600;
		font-size: 24px;
		line-height: 36px;
		letter-spacing: -0.03em;
		color: #1E1B1B;
		margin-bottom: 16px;
	}

	&__acc-text {
		font-weight: 600;
		font-size: 18px;
		line-height: 175%;
		color: #939191;
		display: none;
		transition: all .3s;
	}

	&__acc-text--open {
		display: block;
	}

	&__acc-button-box {
		width: 50px;
		height: 50px;
	}

	&__acc-button {
		background: #FF6433;
		width: 50px;
		height: 50px;
	}

	&__acc-button::before {
		content: "";
		display: block;
		width: 18px;
		height: 2px;
		background: #fff;
		transform: translate(17px);
	}

	&__acc-button::after {
		content: "";
		display: block;
		width: 18px;
		height: 2px;
		background: #fff;
		transform: translate(17px, -1px) rotate(90deg);
	}
}

/*=================================== GET IN TOUCH ======================================*/

.getintouch {
	padding: 121px 0;

	&__heading {
		max-width: 507px;
		margin-bottom: 48px;
	}

	&__body {
		display: flex;
		justify-content: space-between;
		margin-bottom: 178px;
	}

	&__form {
		max-width: 624px;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		margin-right: 30px;
	}

	&__form-input {
		display: block;
		padding: 23px 10px 23px 40px;
		background: #F2F2F2;
		border-radius: 2px;
		margin-bottom: 4px;
	}

	&__form-input::placeholder {
		color: #1E1B1B;
	}

	&__form-input--message {
		margin-bottom: 64px;
	}

	&__form-select--selected {
		color: red;
		padding: 0;
	}

	&__form-button {
		padding: 16px 40px;
		max-width: 206px;

	}

	&__info {
		max-width: 480px;
	}

	&__info-item {
		margin-bottom: 32px;
	}

	&__info-title {
		font-weight: 600;
		font-size: 16px;
		line-height: 28px;
		color: #1E1B1B;
		opacity: 0.7;
		margin-bottom: 4px;
	}

	&__info-text {
		font-weight: 600;
		font-size: 24px;
		line-height: 36px;
		letter-spacing: -0.03em;
		color: #1E1B1B;
	}

	&__map iframe {
		width: 100%;
		height: 512px;
	}
}

/*================================== IMAGE BOX ========================================*/

.image-box {
	height: 448px;
	margin-top: -300px;
	background: url('../img/img-before-footer.jpg') no-repeat;
}

/*=================================== FOOTER ============================================*/

.footer {

	&__top {
		padding: 128px 0;
		background: #1f1c1cfa;
	}

	&__top-inner {
		display: flex;
		justify-content: space-between;
	}

	&__top-body {
		max-width: 463px;
	}

	&__top-heading {
		font-weight: 700;
		font-size: 48px;
		line-height: 140%;
		letter-spacing: -0.03em;
		color: #FFFFFF;
		margin-bottom: 64px;
	}

	&__top-heading--white {
		color: #fff;
	}

	&__top-socials {
		max-width: 167px;
		display: flex;
		justify-content: space-between;
	}

	&__top-link {
		display: block;
	}

	&__top-link svg path {
		transition: all .3s;
	}

	&__top-link:hover svg path {
		fill: #FF6433;
	}

	&__top-block {
		margin-bottom: 32px;
	}

	&__top-block:last-child {
		margin-bottom: 0px;
	}

	&__top-title {
		font-weight: 600;
		font-size: 18px;
		line-height: 175%;
		color: #FFFFFF;
		opacity: 0.6;
		margin-bottom: 8px;
	}

	&__top-text {
		font-weight: 600;
		font-size: 24px;
		line-height: 36px;
		letter-spacing: -0.03em;
		color: #FFFFFF;
	}

	&__bottom {
		padding: 64px 0;
		background: #1E1B1B;
	}

	&__bottom-inner {
		display: flex;
		justify-content: space-between;
	}

	&__bottom-nav {
		margin: 0 10px;
		width: 463px;
	}

	&__bottom-menu {
		display: flex;
		justify-content: space-between;
	}

	&__bottom-item {
		margin-right: 10px;
	}

	&__bottom-item:last-child {
		margin-right: 0px;
	}

	&__bottom-link {
		font-weight: 600;
		font-size: 16px;
		line-height: 28px;
		color: #FFFFFF;
		transition: all .3s;
	}

	&__bottom-link:hover {
		color: #FF6433;
	}

	&__bottom-copy {
		font-weight: 600;
		font-size: 16px;
		line-height: 28px;
		color: #939191;
	}
}


/*==================================== MEDIA ===============================================*/
/*==================================== MEDIA ===============================================*/


//------------------------------- 1200 --------------------------------//


@media (max-width: 1200px) {

	.container {
		padding: 0 20px;
	}

	.title {
		font-size: 48px;
	}

	.header {
		&__body-image img {
			max-width: 500px;
		}

		&__body-title {
			font-size: 50px;
			max-width: 440px;
		}
	}

	.table {
		transform: scale(85%);
	}

	.table__top {
		top: 52px;
		left: -50px;
	}

	.table__bottom {
		top: 370px;
		right: -33px;
	}

	.offers {
		&__heading {
			padding-top: 60px;
		}
	}
}

//------------------------------- 1050 --------------------------------//
@media (max-width: 1050px) {
	.process {
		padding: 70px 0;

		&__inner {
			flex-direction: column;
			align-items: center;
		}

		&__content {
			margin-bottom: 60px;
		}

		&__info-column {
			margin-left: 85px;
		}
	}
}

//------------------------------- 1000 --------------------------------//

@media (max-width: 1000px) {

	.header {
		&__body-image img {
			max-width: 400px;
		}

		&__body-title {
			font-size: 40px;
		}

	}

	.table {
		transform: scale(70%);
	}

	.table__top {
		top: 30px;
		left: -63px;
	}

	.table__bottom {
		top: 260px;
		left: 120px;
	}



	.contact {
		&__content {
			max-width: 100vw;
		}

		&__row {
			padding: 30px;
		}

		&__title {
			margin: 0 59px 40px;
		}

		&__row-item:last-child {
			margin-right: 0px;
		}

	}

	.contact .container {
		padding: 0;
	}

	.brands {
		&__grid {
			grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
		}
	}

	.blog {
		padding: 40px 0;
		margin-bottom: 0;

		&__grid {
			grid-template: repeat(3, 1fr) / repeat(2, 1fr);
		}

		&__grid-item {
			max-width: 100%;
		}

		&__filter-button {
			font-size: 24px;
		}

		&__heading {
			margin-bottom: 24px;
		}
	}

	.getintouch {
		padding: 40px 0;

		&__body {
			flex-direction: column;
			// align-items: center;
			max-width: 630px;
			margin: 0 auto;
		}

		&__form {
			margin-right: 0;
			margin-bottom: 30px;
		}

		&__info {
			text-align: center;
			align-self: center;
		}

		&__heading {
			max-width: 500px;
			margin: 0 auto 36px;
			text-align: center;

		}
	}

	.footer {
		&__top {
			padding: 40px 0;
		}
	}
}


//-------------------------------- 960 -----------------------------------//

@media (max-width: 960px) {
	.footer {
		&__top-inner {
			flex-direction: column;
		}

		&__top-heading {
			margin-bottom: 20px;
		}

		&__top-body {
			margin-bottom: 40px;
		}
	}
}

//------------------------------- 900 --------------------------------//


@media (max-width: 900px) {
	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 50;
		background: rgba(0, 0, 0, 0.350);
		visibility: hidden;
		opacity: 0;
		transition: all .3s;
	}

	.overlay--show {
		visibility: visible;
		opacity: 1;
	}

	.burger {
		display: flex;
		position: fixed;
		top: 15px;
		right: 15px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 150;
		transition: all .3s;
		background: #fff;
		box-shadow: 0px 0px 16px 1px #000;


		.burger--follow {
			box-shadow: 0 0px 10px 1px #6d839b;
			background: #fff;
		}

		span {
			display: block;
			width: 30px;
			height: 4px;
			background: #1E212C;
			border-radius: 3px;
			margin: 4px 0;
		}

		&::before,
		&::after {
			content: "";
			display: block;
			width: 30px;
			height: 4px;
			background: #1E212C;
			border-radius: 3px;
			transition: all .3s;
		}

		&--open::before,
		&--open::after {
			content: "";
			display: block;
			width: 30px;
			height: 4.5px;
			background: #1E212C;
			border-radius: 3px;
			width: 15px;
			transform: rotate(90deg);
		}
	}

	.header {
		&__body-inner {
			padding-top: 40px;
		}

		&__top {
			position: fixed;
			top: 0;
			bottom: 0;
			right: 0;
			background: #fff;
			z-index: 100;
			min-width: 320px;
			transform: translateX(100%);
			transition: all .3s;
			height: 100%;
		}

		&__top-logo {
			flex: none;
		}

		&__top-nav {
			margin: 0;
			padding: 0;
		}

		&__top-item {
			margin-right: 0;
			margin-bottom: 10px;
		}

		&__top-nav::after {
			display: none;
		}

		&__top--open {
			transform: translateX(0%);
		}

		.header__top-inner {
			flex-direction: column;
			height: 100%;
			// justify-content: space-between;
			padding: 100px 0;
			align-items: center;
		}

		&__top-list {
			flex-direction: column;
		}

		&__body-title {
			max-width: 400px;
			line-height: 180%;
		}
	}

	.title {
		font-size: 40px;
	}

	.customers {
		&__slide {
			padding: 40px;
		}

		&__title {
			max-width: 540px;
		}
	}

	.footer {
		&__bottom-nav {
			display: none;
		}

		&__bottom-inner {
			justify-content: space-evenly;
		}
	}
}


//--------------------------------  830 -----------------------------------//

@media (max-width: 830px) {

	.header {
		&__body {
			padding: 40px 0;
			margin-bottom: 40px;
		}

		&__body-inner {
			flex-direction: column;
			align-items: center;
			min-width: auto;
		}

		&__body-content {
			margin-bottom: 30px;
			max-width: 372px;
			margin-right: 0;
		}

		&__body-title {
			margin-right: 0;
		}
	}

	.table {

		&__top {
			top: 40px;
			left: -71px;
		}

		&__bottom {
			top: 270px;
			left: 164px;
		}
	}

	.offers {
		&__cervices-inner {
			grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
			max-width: 600px;
			margin: 0 auto;
		}

		&__cervices-item {
			max-width: 380px;
		}
	}


}

//--------------------------------  855 -----------------------------------//

@media (max-width: 855px) {
	.contact {
		&__row {
			flex-wrap: wrap;
		}

		&__row-item {
			width: 50%;
			margin-right: 0;
			align-items: center;
			margin-bottom: 20px;
		}

		&__row-text {
			font-size: 20px;
		}
	}

	.brands {
		padding: 40px 0;
	}

	.questions {
		padding: 40px 0;

		&__heading {
			margin-bottom: 34px;
		}
	}
}

//-------------------------------- 830 -----------------------------------//

@media (max-width: 830px) {
	.brands {
		&__grid {
			grid-template: repeat(4, 1fr) / repeat(3, 1fr);
		}
	}

	.blog {
		&__grid {
			grid-template: repeat(6, 1fr) / 1fr;
		}
	}
}

//-------------------------------- 730 -----------------------------------//

@media (max-width: 730px) {
	.questions {
		&__acc-button-box {
			// transform: scale(0.8);
			display: none;
		}

		&__acc-item {
			padding: 20px;
			margin-right: 0;
		}

		&__acc-title {
			margin-bottom: 0;
		}

		&__acc-info {
			margin-right: 0;
		}
	}
}

//-------------------------------- 700 -----------------------------------//

@media (max-width: 700px) {
	.customers {
		&__slider-arrows {
			display: none;
		}
	}
}

//-------------------------------- 480 -----------------------------------//

@media (max-width: 480px) {

	.header {

		&__top {
			width: 100%;
		}

		&__body-title {
			font-size: 30px;
		}

		&__body-image img {
			max-width: 300px;
		}

		&__body-button-box {
			justify-content: space-between;
		}

		&__body-book {
			margin-right: 0;
		}

	}

	.table {
		transform: scale(66%);

		&__top {
			top: 16px;
			left: -80px;
		}

		&__bottom {
			top: 182px;
			left: 71px;
		}
	}

	.title {
		font-size: 30px;
		line-height: 50px;
	}

	.subtitle {
		font-size: 20px;
	}

	.offers {
		&__cervices-inner {
			grid-template: repeat(8, 1fr) / 1fr;
			max-width: 380px;
			margin: 0 auto;
		}
	}

	.process {
		&__info-title {
			font-size: 24px;
		}
	}

	.contact {
		&__row {
			flex-direction: column;
		}

		&__row-item {
			width: auto;
			text-align: center;
		}
	}

	.blog {
		&__filter-button {
			font-size: 20px;
		}
	}
}

//-------------------------------- 630 -----------------------------------//

@media (max-width: 630px) {
	.brands {
		&__grid {
			grid-template: repeat(5, 1fr) / repeat(2, 1fr);
		}
	}
}

//-------------------------------- 420 -----------------------------------//

@media (max-width: 420px) {
	.brands {
		&__grid {
			grid-template: repeat(6, 1fr) / repeat(1, 1fr);
		}
	}

	.footer {
		&__bottom-inner {
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
		}

		&__bottom-logo {
			margin-bottom: 40px;
		}
	}
}

//-------------------------------- 400 -----------------------------------//

@media (max-width: 400px) {

	.button {
		padding: 10px 20px;
		text-align: center;
	}

	.header {
		&__body-image img {
			max-width: 250px;
		}

	}

	.table {
		transform: scale(50%);

		&__top {
			top: 0px;
			left: -96px;
		}

		&__bottom {
			top: 145px;
			left: 40px;
		}
	}

	.getintouch {
		&__form-button {
			align-self: center;
			margin-bottom: 40px;
		}
	}
}

//--------------------------------  370 -----------------------------------//

@media (max-width: 370px) {
	.process {
		&__info-title {
			font-size: 20px;
		}

		&__info-item {
			max-width: 240px;
		}

		&__info-item--appointment::after,
		&__info-item--quote::after {
			height: 114px;
		}
	}
}

//--------------------------------  330 -----------------------------------//

@media (max-width: 330px) {
	.process {
		&__info-item {
			max-width: 202px;
			min-width: 197px;
		}

		&__info-item--service::before {
			top: -4px;
		}

		&__info-title {
			line-height: 34px;
		}

		&__info-item--appointment::after,
		.process__info-item--quote::after {
			height: 98px;
		}

		&__info-item--appointment::before,
		&__info-item--quote::before {
			top: -16px;
		}
	}
}

//--------------------------------  320 -----------------------------------//

@media (max-width: 320px) {
	.header {
		&__body-button-box {
			flex-direction: column;
		}

		&__body-book {
			margin-bottom: 20px;
		}
	}

	.table {
		&__top {
			left: -75px;
		}

		&__bottom {
			left: 29px;
		}
	}

	.blog {
		&__filter-box {
			display: block;
		}
	}
}



//--------------------------------  310 -----------------------------------//

@media (max-width: 310px) {

	.process {
		&__info-item {
			max-width: auto;
			min-width: auto;
		}

		&__info-item--appointment::after,
		&__info-item--quote::after {
			height: 144px;
			top: 72px;
		}

	}

}

//--------------------------------  300 -----------------------------------//

@media (max-width: 300px) {

	.offers {
		&__link {
			margin-right: 5px;
		}
	}

}